* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p, a, h1, h2, h3, label {
    color: #fff;
}

a {
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

body {
    overflow-x: hidden;
    min-height: 100vh; 
}

#container {
    display: grid;
    grid-template-areas:
    "main-geral"
    "rodape";
    grid-template-columns: 1fr;

}

nav {
    width: 280px;
    height: 100vh;
    background: #006ec8 url('../imagens/background-ceu.png') repeat-y top left;
    position: fixed;
}

.nav-logo {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center; 
}

.nav-logo img {
    width: 90px;
    border-radius: 50%;
}

.nav-links {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links ul {
    width: 100%;
    list-style: none;
}  

.nav-links a {
    display: inline-flex;
    padding: 10px;
    width: 260px;
}

.nav-links a:hover {
    background-color: #ffffff17;
}

.nav-links a i {
    margin: 0px -40px 0px 40px;
    opacity: 0.9;
    display: flex;
    align-items: center;
}

.nav-selecionado {
    background-color: #ffffff6c;
}

.nav-links h3 {
    margin-left: 60px;
}

.nav-natureza-img {
    position: absolute;
    bottom: -5px;
    width: 100%;
}

.main-geral {
    margin-left: 280px;
}

.login-registro-main, .login-registro-nav {
    margin: 20px;
    right: 0;
    position: fixed;
    text-align: center;
}

.login-registro-main a, .login-registro-nav a {
    width: 90px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
    background: #006ec8 url('../imagens/background-ceu.png') repeat-y top left;
}

.login-registro-main a:hover, .login-registro-nav a:hover {
    background: #4CAF50;
}

.login-registro-nav {
    display: none;
}

.parallax {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1, h2 {
        color: white;
        font-size: 50px;
    }
}

.cataratas-home {
    background: #027700 url('../imagens/cataratas-1.png') no-repeat fixed;
    background-size: cover;
    background-position: top right;
}

.titulo-home {
    margin-top: 100px;
}

.titulo-home h1 {

    font-size: 3.5em; 
    text-align: center;
}

.titulo-home span {
    font-size: 0.56em;
    font-weight: normal; 
    display: block; 
}

.titulo-esquerda {
    margin-right: 310px;
}

.titulo-direita {
    margin-left: 60px;   
}

.comprar-ingresso-home {
    margin-top: 80px;
}

.comprar-ingresso-home a {
    padding: 15px;
    border-radius: 10px;
    background-color: #006ca5;
}

.comprar-ingresso-home a:hover {
    background-color: #4CAF50;
}

.informacoes-home {
    height: 50px;
    width: 80%;
    margin-top: 90px;
    background-color: #ffffffc6;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.informacoes-home a i {
    margin-right: 10px;
    opacity: 0.6;
}

.informacoes-home a {
    width: 25%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    color: #000;
}

.informacoes-home a:hover {
    background-color: #ffffffca;
}

.informacoes-home-divisao {
    border-right: 2px solid rgba(0, 0, 0, 0.426);
}

footer {
    grid-area: rodape;
    padding: 20px;
    margin-left: 280px;
    background-color: #006ca5;
    color: #ffffffd2; 
}

footer h3 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.rodape-info-container {
    display: flex;
    justify-content: space-around;
}

.rodape-info {
    margin: 0px 20px 20px 20px;
    font-size: 13px;
}   

.rodape-info p, .rodape-info a {
    font-weight: normal;
    opacity: 0.9;
}

.rodape-info a i {
    margin-right: 7px;
}

.rodape-info a:hover {
    color: #cccccc; 
}

.rodape-direitos-autorais {
    margin-top: 10px;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}

/*Páginas de Login e Registro*/

#container-login-registro {
    background: #027700 url('../imagens/cataratas-3.png') no-repeat top right;
    height: 100vh;
}

.main-login-registro {
    width: 44%;
    background: #006ca5 url('../imagens/login-registro-img.png') no-repeat bottom center;
    height: 100vh;
}

.login-registro-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-registro-logo img {
    margin: 30px 0px 40px 0px;
    width: 120px;
    border-radius: 50%;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
}

.formulario h1 {
    order: -1;
    margin-bottom: 15px;
    font-size: 30px;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form label {
    margin-top: 10px;
    display: block;
}

form input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input:focus {
    outline: none;
    border-color: #036800;
    box-shadow: 0 0 5px rgba(4, 120, 0, 0.5);
    background-color: #f8f8f8;
}

form button {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

form button:hover {
    background-color: #036800;
}

.email-numero-container,
.senha-confirmacao-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.email-numero-container div,
.senha-confirmacao-container div {
    width: 48%;
}

.esqueceu-senha {
    margin-top: 10px;
    font-weight: normal;
    font-size: 12px;
}

.esqueceu-senha a:hover {
    color: #ccc;
    text-decoration: underline;
}

.registro-link {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    opacity: 0.7;
}

.registro-link a {
    text-decoration: underline;
    font-weight: normal;
}

.registro-link a:hover {
    color: #ccc;
}

@media only screen and (max-width: 1024px) {
    .main-geral {
        margin-top: 120px;
    }

    nav {
        width: 100%;
        height: 120px;
        background: #006ec8;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 0 20px;
    }

    .nav-natureza-img {
        display: none;
    }

    .nav-logo {
        width: 20%;
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .nav-links {
        margin: 0;
        width: auto;
        height: 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .nav-links ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: auto;
        padding: 0;
    }

    .nav-links li {
        margin: 0px 5px 0px 5px;
        height: 120px;
    }

    .nav-links h3 {
        margin-left: 10px;
    }  
    
    .nav-links a {
        padding: 10px;
        height: 97px;
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        width: auto;
        white-space: nowrap;
    }

    .nav-links a:hover {
        background: none;
        border-bottom: 4px solid #ffffff7a;
    }

    .nav-links a i {
        margin: 0px;
    }

    .nav-selecionado {
        background: none;
        border-bottom: 4px solid #fff;
    }
    
    .login-registro-nav {
        display: block;
        display: flex;
        flex-direction: column;
    }

    .login-registro-nav a {
        background: #4CAF50;
        margin: 5px;
        font-size: 14px;
        padding: 6px;
    }

    .login-registro-nav a:hover {
        background: #008542;

    }

    .login-registro-main {
        display: none;
    }
    
    .main-geral {
        margin-left: 0px;
    }

    footer {
        margin-left: 0px;
    }

    /*Login e Registro*/

    .main-login-registro {
        width: 100%;
    }
}
