@media only screen and (min-width: 540px) {
    .titulo h1 {
        font-size: 35px; 
    }
    
    .titulo span {
        font-size: 18px;
    }
    
    .titulo-esquerda {
        margin-right: 210px;
    }
    
    .titulo-direita {
        margin-left: 0px;   
    }
}

@media only screen and (min-width: 900px) {
    .nav-links>i {
        display: none;
    }

    #nav-links-lista {
        display: flex;
        background: none;
        position: static;
        height: 70px;
        flex-wrap: nowrap;
    }

    #nav-links-lista li {
        display: inline-flex;
        width: auto;
        height: 80px;
    }

    #nav-links-lista a {
        padding: 0px;
        margin: 8px 30px 0px 6px;
        display: flex;
        align-items: center; 
        font-size: 18px;
    }

    #nav-links-lista a:hover {
        border-bottom: 3px solid white;
    }

    .login-registro {
        margin: 13px 0px 0px 30px;
        height: 80px;
    }

    .login-registro a {
        padding: 0px;
        height: 40px;
        background-color: #004d8b;
    }
}

@media only screen and (min-width: 1025px) {
    .navbar {
        width: 280px;
        height: 100vh;
        display: flex; 
        flex-direction: column; 
    }

    .nav-logo {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: center; 
    }

    .nav-logo img {
        margin: 0px; 
        width: 90px;
    }

    .nav-links {
        height: 350px;
        position: absolute;
        align-items: start;
    }

    #nav-links-lista {
        display: block;
        flex-wrap: wrap;        
    }

    #nav-links-lista li {
        width: 100%;
        height: 45px;
    }

    #nav-links-lista a {
        margin: 0px;
        font-weight: bold;
    }

    #nav-links-lista>li>a {
        width: 280px;
    }

    #nav-links-lista i {
        padding-left: 55px;
    }

    #nav-links-lista>li>a:hover {
        color: white;
        border: none;
        background-color: #ffffff17;
        width: 280px;
    }

    .logo-login-registro {
        width: 55%;
        height: 100vh;
        margin-left: 45%;
        z-index: 999;
        position: static;
    }

    .logo-login-registro img {
        border-radius: 50%;
        opacity: 0.8;
        width: 400px;
    }

    .login-registro>div {
        position: fixed;
        right: 20px;
        top: 20px;
    }

    .login-registro a {
        border-radius: 15px;
        border: none;
        padding-left: 0px;
        background-color: #006ca6;
    }

    .login-registro a:hover {
        background-color: #03c132;
        color: white;
    }

    .main-login-registro {
        width: 45%;
        margin-left: 0px;
    }

    .formulario {
        height: 350px;
        width: 100%;
        max-width: 700px;
    }

    .nav-natureza-img img {
        display: flex;
        margin-bottom: -7px; 
    }

    footer {
        margin-left: 280px;        
    }

    footer h3 {
        margin-top: 0px;
    }

    footer>div {
        flex-direction: row;
    }

    #container>main {
        margin-left: 280px;
    }

    .bg-titulo {
        height: 400px;
    }
    
    .home, .container-login-registro {
        height: 100vh;
    }

    .titulo h1 {
        margin-top: -70px;
        font-size: 55px; 
    }

    .subtitulo h2 {
        font-size: 23px;
    }
    
    .titulo span {
        font-size: 30px;
    }
    
    .titulo-esquerda {
        margin-right: 310px;
    }
    
    .titulo-direita {
        margin-left: 40px;   
    }
    
    .comprar-ingresso a {
        padding: 10px;
        font-size: 13px;
        border-radius: 10px;
    }
    
    .informacoes-home {
        width: 80%;
    }
    
    .informacoes-home a {
        width: 25%;
    }  
    
    #div-como-chegar>.iframe iframe {
        height: 400px;
    }
}
