* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #E5E5E5;
}

.color-white {
    color: white;
}

nav {
    height: 80px;
    width: 100%;
    background-color: #006ca6;
}

.nav-logo img {
    border-radius: 50%;
    width: 60px;
    margin-left: 20px;
}

.nav-natureza-img img {
    display: none;
}

.nav-links a {
    display: inline-flex;
    margin-left: 30px;
    font-size: 18px;
    padding: 20px;
}

.nav-links>i {
    font-size: 40px;
    margin: -10px 0px 0px 40px;
}

#nav-links-lista i {
    margin-right: 15px; 
}

#nav-links-lista {
    display: none;
    background-color: #004d8b;
    left: 0;
    top: 80px;
    position: fixed;
}

.login-registro {
    margin: 20px 0px 30px -10px;
}

.login-registro a {
    padding: 10px;
    width: 120px;
    font-size: 18px;
    background-color: #006ca6;
    border: 1px solid white;
}

.login-registro a:hover {
    background-color: #013a68;
}

footer {
    padding: 20px;
    background-color: #015b8c;
    color: white; 
}

footer>div {
    flex-direction: column;
    align-items: center;
}

footer p, footer a, footer i {
    margin-bottom: 0px;
    color: white;
    text-decoration: none;
}

footer h3 {
    margin-top: 30px;
    font-size: 15px;
    text-align: center;
}

.rodape-info {
    font-size: 13px;
}  

.rodape-info a:hover {
    color: #cccccc; 
}

.rodape-autoral {
    font-size: 14px;
}

.bg-titulo {
    height: 330px;
    width: 100%;
    background: #027700 url('../imagens/cataratas-1.png') no-repeat fixed;
    background-size: cover;
    background-position: top right;
}

.home {
    height: 100vh;
}

.titulo {
    margin-top: 100px;
}

.titulo h1 {
    font-size: 25px; 
}

.titulo span {
    font-size: 14px;
}

.titulo-esquerda {
    margin-right: 145px;
}

.titulo-direita {
    margin-left: 20px;   
}

.subtitulo>h2 {
    font-size: 19px;
}

.azul {
    color: #004d8b;
}

.home>.comprar-ingresso {
    margin-top: 80px;
}

.comprar-ingresso a {
    padding: 8px;
    font-size: 12px;
    border-radius: 10px;
    background-color: #006ca5;
}

.comprar-ingresso a:hover {
    background-color: #4CAF50;
    color: white;    
    border-bottom: 3px solid white;
}

.informacoes-home {
    width: 100%;
    margin-top: 90px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffffc6;
}

.informacoes-home a {
    width: 49%;
    height: 50px;
    font-size: 15px;
    border-right: 1px solid #000;
    color: #000;
}

.informacoes-home a:hover {
    background-color: #ffffffca;
}

.informacoes-home a i {
    margin-right: 10px;
    opacity: 0.5;
}

.divs-informacoes-home img {
    width: 100%;
    max-width: 900px;
}

.divs-informacoes-home {
    background-color: rgba(0, 0, 0, 0.87);
    width: 100%;
    height: 100vh;
    top: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: none;
}

.text-info-home {
    width: 90%;
    max-width: 436px;
}

.text-info-home h1 {
    font-size: 20px;
}

#div-funcionamento p {
    font-size: 15px;
    margin-bottom: 4px;
}

#container-login-registro {
    height: 100vh;
}

.main-login-registro {
    width: 100%;
    height: 100vh;
    background: #006ca5 url('../imagens/login-registro-img.png') no-repeat bottom center;
}

.login-registro-logo img {
    margin-top: 20px;
    width: 120px;
    border-radius: 50%;
}

.formulario {
    height: 50%;
    width: 100%;
    max-width: 700px;
}

.formulario h1 {
    font-size: 25px;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form label {
    font-size: 14px;
    margin-top: 6px;
}

form input {
    width: 100%;
    height: 35px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input:focus {
    outline: none;
    border-color: #036800;
    box-shadow: 0 0 5px rgba(4, 120, 0, 0.5);
}

form button {
    margin-top: 6px;
    width: 100%;
    height: 35px;
    font-size: 13px;
    border-radius: 5px;
    background-color: #4CAF50;
    border: none;
}

form button:hover {
    background-color: #036800;
}

.esqueceu-senha a {
    font-size: 10px;
    text-decoration: none;
}

.esqueceu-senha a:hover {
    color: #ccc;
    text-decoration: underline;
}

.registro-login-link {
    margin-top: 13px;
    width: 100%;
    font-size: 13px;
}

.registro-link a {
    text-decoration: underline;
}

.lazer-area {
    max-width: 1400px;
}

.flex-card {
    width: 90%;
    max-width: 310px;
    height: 204px;
    background-color: #006CA6;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.4);
}

.flex-card h3 {
    font-size: 14px;
}

.flex-card a {
    color: #6c757d;
    cursor: pointer;
    width: 110px;
    height: 25px;
    margin-top: -4px;
    border-radius: 7px;
    position: absolute;
    background-color: #298fd2;
}

.flex-card>span>p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    width: 90%;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-card-exibido {
    background-color: rgba(0, 0, 0, 0.87);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    justify-content: center;    
}

.text-card-exibido p {
    width: 80%;
    max-width: 600px;
    margin-top: 30px;
    -webkit-line-clamp: 999;
}

.text-card-exibido a {
    position: relative;
    margin-top: 30px;
}

